<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Студенти</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <h1>Пошук</h1>
        <input placeholder="type name" v-model="searchName" />
        <table>
            <tr v-for="(stud, index) in filteredStudents" :key="index">
                <td :class="{ 'red': stud.highlighted }">{{ stud.name }}</td>
                <td>
                    <input type="checkbox" v-model="stud.workDone" />
                </td>
                <td>{{ stud.group }}</td>
                <td><a @click="deleteStudent(stud.id)">Видалити</a></td>
            </tr>
        </table>
    </div>

    <script>
        const { createApp, ref, computed } = Vue;

        const app = createApp({
            setup() {
                const students = ref([
                    {
                        id: 0,
                        name: "Соломін Данило",
                        group: "RPZ 20 1",
                        workDone: false,
                    },
                    {
                        id: 1,
                        name: "Нерознак Лера",
                        group: "RPZ 20 2",
                        workDone: false,
                    },
                    {
                        id: 2,
                        name: "Пастушенко Александр",
                        group: "RPZ 20 1",
                        workDone: false,
                    },
                    {
                        id: 3,
                        name: "Мажура Киррило",
                        group: "RPZ 20 2",
                        workDone: false,
                    },
                    {
                        id: 4,
                        name: "Коваль Карина",
                        group: "RPZ 20 1",
                        workDone: false,
                    },
                ]);

                const searchName = ref("");

                const filteredStudents = computed(() => {
                    const searchNameLower = searchName.value.toLowerCase();
                    return students.value.map((stud) => ({
                        ...stud,
                        highlighted:
                            stud.name.toLowerCase().includes(searchNameLower) &&
                            searchNameLower.length > 0,
                    }));
                });

                const deleteStudent = function (id) {
                    const index = students.value.findIndex((stud) => stud.id === id);
                    if (index !== -1) {
                        students.value.splice(index, 1);
                    }
                };

                return {
                    searchName,
                    filteredStudents,
                    deleteStudent,
                };
            },
        });

        app.mount("#app");
    </script>
</body>

</html>