table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

td {
  padding: 8px;
  border: 1px solid #ccc;
  width: 150px;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 5px;
}

.red {
  color: red;
}

a {
  cursor: pointer;
}
a:hover {
  color: red;
}
